.ContactList {
  padding-left: 20px;
  // border-left: 1px solid #efefef;

  .form-label {
    font-size: 16px;
    color: #5113ad;
    font-weight: 600;
  }
}

@media (max-width: 1199px) {
  .ContactList {
    padding-left: 0;

    .form-label {
      margin-top: 50px;
    }
  }
}
